
<!DOCTYPE html>
<html>
<head>
    <title>{{ paperdic.one1 }}</title>
</head>
<body>

<!-- <a href="/add/4/5/">计算 4+5</a> -->
<a href="{% url 'add2' 4 5 %}">{% url 'home' %} </a>
<h1> {{ paperdic.one1 }}</h1>

<h1>{{reqest.user}}
{% if request.user.is_authenticated %}
  {{request.user.username}}, 你好！
{% else %}
  请登陆，这里放登陆链接
{% endif %}
</h1>

<h1>获取当前网址：{{request.path}}  </h1>

<h1>获取当Get参数：{{request.GET.urlencode}}  </h1>

<h1>当前网址和参数：{{request.path}}?{{request.GET.urlencode}}</h1>


{% for key,value in paperdic.items %}
  {{ key }} : {{ value }},
{% endfor %}

<h1> Two paper

{% for item in List %}
  {{item}} {% if not forloop.last%},{% endif%}
{% endfor %}

</h1>
</body>
</html>
